    <main role="main" class="container">
      <div class="starter-template">
        <h1>D&D Character Manager</h1>
        <p class="lead">By Bhavin Shah and Jeovani Vela.</p>
      </div>
      <form>
        <div class="form-row align-items-center">
          <div class="col-auto">
            <input type="text" class="form-control mb-2 mr-sm-2" id="searchName" placeholder="Search">
          </div>
          <div class="col-auto">
            <label class="sr-only" for="inlineFormInputGroup">Username</label>
              <select class="custom-select mb-2" id="searchType">
                <option selected>Choose...</option>
                <option value="character">Character</option>
                <option value="inventory">Inventory</option>
                <option value="class">Classes</option>
                <option value="action"> Actions</option>
              </select>
          </div>
          <div class="col-auto">
            <button type="submit" id = "readByName" class="btn btn-primary mb-2">Search</button>
          </div>
        </div>
      </form>
      <div class="container">
        <p></p>
      </div>
      <form>
        <div id='CharSheet' class="container">
          <div class="row" id = 'charNamePlus'>
            <div class="col">
              <input class="form-control form-control-lg" type="text" id = "charName" value="Frodo" disabled>

              <h6> Name</h6>
            </div>
            <div id = "charClass" class="col">
              <input class="form-control form-control-lg" type="text" value="Rogue" disabled>
              <h6> Class</h6>
            </div>
            <div class="col">
              <input class="form-control form-control-lg" type="text" id = "charDemo" value="Halfing" disabled>
              <h6>Race</h6>
            </div>
          </div>
        </di>
        <div class="container" id = 'charSheetDetails'>
          <div class="row">
            <div class="col-3">
              <table class="table-responsive-sm">
                <thead>
                  <tr>
                    <th scope="col">Statistic</th>
                    <th scope="col">Score</th>
                    <th scope="col">Modifier</th>
                  </tr>
                </thead>
                <tbody id = "statBlock">
                  <tr>
                    <th scope="row">Strength</th>
                    <td><input size="1" type="text" value="18" disabled></td>
                    <td>+4</td>
                  </tr>
                  <tr>
                    <th scope="row">Dexterity</th>
                    <td><input size="1" type="text" value="13" disabled></td>
                    <td>+1</td>
                  </tr>
                  <tr>
                    <th scope="row">Constitution</th>
                    <td><input size="1" type="text" value="16" disabled></td>
                    <td>+3</td>
                  </tr>
                  <tr>
                    <th scope="row">Intelligence</th>
                    <td><input size="1" type="text" value="9" disabled></td>
                    <td>-1</td>
                  </tr>
                  <tr>
                    <th scope="row">Wisdom</th>
                    <td><input size="1" type="text" value="12" disabled></td>
                    <td>+1</td>
                  </tr>
                  <tr>
                    <th scope="row">Charisma</th>
                    <td><input size="1" type="text" value="10" disabled></td>
                    <td>+0</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col">
              <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" id ='showInventory'>Inventory</a></li>
                  <li class="page-item"><a class="page-link" id ='showAbilties'>Abilities</a></li>
                </ul>
                <div class="card" id = "inventoryCard">
                  <div class="card-body"> <!-- put things in card body -->
                    <table class="table" id = "inventoryTable">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Damage</th>
                          <th scope="col">effects</th>
                          <th scope="col">Weight</th>
                          <th scope="col">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">Longsword</th>
                          <td>1d8</td>
                          <td>Slicing damage</td>
                          <td>18 lbs</td>
                          <td><button type="button" class="btn btn-danger btn-sm">Remove</button></td>
                        </tr>
                        <tr>
                          <th scope="row">Healing Potion</th>
                          <td>Healing 2d8</td>
                          <td>Drink to consume</td>
                          <td>2 lbs.</td>
                          <td><button type="button" class="btn btn-danger btn-sm">Remove</button></td>
                        </tr>
                        <tr>
                          <th scope="row">Bedroll</th>
                          <td>N/A</td>
                          <td>Allows you to rest</td>
                          <td>15 lbs.</td>
                          <td><button type="button" class="btn btn-danger btn-sm">Remove</button></td>
                        </tr>                     
                      </tbody>
                    </table> 
                    <div>
                      <button type="button" id ="charInventMapStart" class = "btn btn-success"> Add Inventory to Character</button>
                      <div>
                        <div id='addInventoryChar' hidden></div>
                      </div>
                      <button type="button" id ="charInventMapSave" class = "btn btn-success" hidden>Save</button>
                    </div>
                  </div>
                </div>
                <div class="card" id = "abilitiesCard" hidden>
                  <div class="card-body"> <!-- put things in card body -->
                    <table class="table" id =  "abilitiesTable">
                      <head>
                        <th scope="col">Action Name</th>
                        <th scope="col"> Description</th>
                      </head>
                      <tbody>
                        <tr>
                          <td>Attack</td>
                          <td> Use current weapon to attack</td>
                      </tr>
                        <tr>
                          <td>Hide</td>
                          <td>Roll D20 and add dex bonus</td>
                        </tr>
                      </tbody>
                    </table>
                    <form id = 'addInventChar' hidden >
                      <div class = "row">
                        <div class = "col">
                          <button hidden type = "button" class="btn btn-success" id = 'addAction'>Add new Action</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        <button type="button" id ="charEdit" class = "btn btn-warning"> Edit</button>
        <button type="button" id ="charSave" class = "btn btn-success" hidden> Save</button>
        </div>
        <div>
          <div>
            <button type="button" id ="charNew" class = "btn btn-success"> Create new character</button>
            <button type="button" id ="charNewSave" class = "btn btn-success" hidden> Save new character</button>
          </div>
          <div>
            <button type="button" id ="classNew" class = "btn btn-success"> New Class</button>
            <form id ="classNewForm" hidden>
              <input id='newClassName' size="8" type="text" placeholder = "Class Name">
              <input id='newClassHP' size="8" type="number" placeholder = "Class HP">
              <button type="button" id ="classNewSave" class = "btn btn-success"> Save Class</button>
            </form>
          </div>
          <div>
            <button type="button" id ="actionNew" class = "btn btn-success"> New Action</button>
            <form id ='actionNewForm' hidden>
              <input id ='newActionName' size="8" type='text' placeholder = 'Name'>
              <input id='newActionDescription' size="18" type="text" placeholder = "Description">
              <button type="button" id ="actionNewSave" class = "btn btn-success"> Save action</button>
            </form>
          </div>
          <div>
            <button type="button" id ="inventNewStart" class = "btn btn-success"> New Inventory Item</button>
            <form id ='addInventHolder' hidden>
              <div id ='addInventForm' class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Damage">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Effects">
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="Weight">
                </div>
              </div>
              <div class = "row">
                <div class = "col">
                  <button type = "button" id='inventoryNewSave' class="btn btn-success">Add new item</button>
                </div>
              </div>
            </form>
          </div>
          <div>
            <button type="button" id ="actionclassMapStart" class = "btn btn-success"> Map Action to Class</button>
            <form id='addActionClass' hidden>
            </form>
            <button type="button" id ="actionclassMapSave" class = "btn btn-success" hidden>Save</button>
          </div>


        </div>
      </form>

